@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Kanit:wght@300;400&family=Lato:ital,wght@0,300;1,100&family=Poppins:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: purple;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #23baf0cd;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(231, 163, 163, 0.12), 0 1px 2px rgba(219, 128, 128, 0.24);
}

/* Bar color changed to darker mode when the cursor on */
.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #23baf0cd;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(233, 129, 129, 0.12), 0 1px 2px rgba(230, 101, 101, 0.24);
}

img {
  width: 100%;
}

form > h3 {
  color: purple;
  margin-bottom: 0.5px;
  margin-top: 20px;
}

button {
  color: #ffffff;
  background-color: darkmagenta;
  font-size: none;
  padding: 2px;
  font-weight: 300%;
  width: 20%;
}

.btn:hover {
  background-color: brown;
}

.footer {
  background-color: #0099cc;
  text-align: center;
  font-size: 13px;
  padding: 15px;
  margin-top: 45px;
}
.footer > a{
  color: beige;
}

/* for Mobile phones size: */
[class*="col-"] {
  width: 100%;
}

/* Media query for 600px tablet */
@media only screen and (min-width: 600px) {
  .col-v-1 {width: 8.33%;}
  .col-v-2 {width: 16.66%;}
  .col-v-3 {width: 25%;}
  .col-v-4 {width: 33.33%;}
  .col-v-5 {width: 41.66%;}
  .col-v-6 {width: 50%;}
  .col-v-7 {width: 58.33%;}
  .col-v-8 {width: 66.66%;}
  .col-v-9 {width: 75%;}
  .col-v-10 {width: 83.33%;}
  .col-v-11 {width: 91.66%;}
  .col-v-12 {width: 100%;}
}

/* Media query for Desktop */
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}